header {
  background-color: rgb(18, 79, 119);
  color: white;
  padding: 20px;
  text-align: center;
}

.main-content ul {
    text-align: center;
    list-style: none;
}

.main-content ul li {
    padding: 20px;
    background-color: rgb(66, 173, 216);
    border-radius: 10px;
    margin: 10px 0;
    color: #fff;
}

footer {
    background-color: rgb(18, 79, 119);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
}
footer form input,
footer form textarea {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: rgb(18, 79, 119);
    outline: none;
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
footer form textarea {
    height: 50px;
}
footer form button {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: blue;
    border: none;
    margin-top: 20px;
}